body{
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0%;
}


.top{
    background-color: darkblue;
    color: lightcoral;
    text-align: center;
}

.middle{
     background-color: lightgray;
     padding: 1em;
}